{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    Cargar Cartegoria
{% endblock title %}

{% block Contenido_Variable %}
    {% if user.is_authenticated %}

        <div class="form-group">
            <h1>Cargar Categoria</h1>
            <form method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}
                <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a> | <button class="btn btn-primary">Post</button> 
            </form>
        </div>

    {% else %}

        <h1>Necesita loguearse para acceder a este sitio</h1>
        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a> | <a href="{% url 'login' %}" class="btn btn-primary">Login</a> 


    {% endif %}
{% endblock  %}
