{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    Blog Posts
{% endblock title %}

{% block Contenido_Variable %}
    
    <ul>
        {% for post in object_list %}
        <li><a href="{% url 'Detail_Post' post.pk %}">{{ post.titulo }}</a>- <small>{{ post.author }} | <a href="{% url 'Categ_posts' post.categoria|slugify %}">{{ post.categoria }}</a></small><br>
            {{ post.subtitulo }} <br>
            <small>{{post.creacion}}</small>
        </li> 

        {% endfor %}
    </ul>

{% endblock %}

