{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    Editar Perfil
{% endblock title %}

{% block Contenido_Variable %}
<div class="form-group">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <br>
    <div>
        Bio: {{ user.perfil.bio|safe }}
    </div>
    <form method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a> | <button class="btn btn-primary">Actualizar Perfil</button> 
    </form>
</div>
{% endblock  %}